<html>
  <head>
  </head>

  <body>
    <h2>Hacker Dojo Policies</h2>
    <ol>
      <li> Parking.  Only park in the designated spaces for the Dojo.  Never park in front of the other tenants area. There are also overflow spaces against the back wall.  Never leave your car here unattended - it will be towed if left here.
      </li><li> Donations/Loans.  Any equipment left at the dojo is done at your own risk.  It may be stolen or thrown away if its not needed.
      </li><li> Hours of Operation.  Ideally, we will be open for 24 hours but we aren't there quite yet. Please check the open hours page until further notice.  Also, while we may keep late hours, there is an expectation that no one will be sleeping at the Dojo.
      </li><li> Air Conditioning.  Use common sense, keep doors closed when AC is running. 
      </li><li> Food. Please clean up any mess you make.  Ask a staff member for cleaning supplies as needed.
      </li><li> Animals. No pets allowed.
      </li><li> Internet. Use common sense, don't spam, hog bandwidth. 
      </li><li> Lights. Please turn lights off if you are the last person to leave an area.
      </li><li> Glass. Some glasswork pieces cost up to $7,000.  If you break a glass piece, you are financially responsible for replacing it.
      </li><li> Hold Harmless.  Visitors, members, and other participants at Hacker Dojo, Inc. hereby release, discharge and agree to hold harmless the Hacker Dojo, Inc. and its directors, staff and volunteers from and against any liability as a result of any harm, damage, loss suffered to said visitors, their work, equipment used, personal property or personal injury suffered during the participation or attendance at Hacker Dojo.
      </li><li> Not a Public Facility. Non-members are at the Dojo as guests of the Dojo and may be asked by staff to leave any time without a needed reason.
      </li><li> 100% Communal. Unless explicitly approved by a Director, you may not store personal belongings. All space is communal space by default - this enables us to serve as many people as possible.
      </li><li> Respect. All at the Dojo are there to contribute. Be awesome to one another.
      </li>
    </ol>
  </body>
</html>
